@namespace NATS.Components.Layout.Public
@inherits LayoutComponentBase
@layout MainLayout

<NavigationBar />
<main class="flex-fill h-100 fade-animation fade-animation-reverse">
    @Body
</main>
<Footer />