.block.block-post-category-list ul li {
    overflow: hidden;
}

.block.block-post-category-list ul li .description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.block.block-post-category-list ul li .description .title,
.block.block-post-category-list ul li .description .content {
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block.block-post-category-list ul li .edit-button {
    aspect-ratio: 1;
    height: fit-content;
    flex-shrink: 0;
}
