@inherits LayoutComponentBase


<body class="container-fluid p-0 d-flex flex-column position-relative">
    @Body
</body>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>