@page "/"
@using NATS.Components.Layout.Public
@namespace NATS.Components.Pages.Public
@layout PublicLayout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.    using NATS.Components.Layout.Public;
