@namespace NATS.Components.Layout.Protected

<nav class="bg-white border-bottom border-success-subtle px-3 py-1 w-100">
    <div class="container d-flex px-3 align-items-center h-100">
        @if (_model != null)
        {
            <div class="logo-container">
                <img
                    src="/images/main-logo-transparent-white.png"
                    class="logo"
                    alt="@_model.GeneralSettings.ApplicationName"
                />
            </div>

            <h3 class="text-success m-0 ms-2">
                @_model.GeneralSettings.ApplicationShortName
            </h3>
        }
    </div>
</nav>