#home-view .carousel-background {
    --blur-radius: 25px;
    background: rgba(var(--bs-success-rgb), 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + var(--blur-radius) * 4);
    height: calc(100% + var(--blur-radius) * 4);
    transform: translate(-50%, -50%);
    filter: blur(var(--blur-radius));
    transition: opacity 1s ease;
}

#home-view .carousel-background::after {
    content: "";
    background: rgba(var(--bs-success-rgb), 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#home-view #carousel-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

#home-view #slider {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

#home-view .carousel-img {
    max-height: 750px;
    object-fit: cover;
}

#home-view #application-name-container {
    background-color: rgb(20, 112, 70);
    font-size: 1.4em;
}

#home-view .summary-item-thumbnail {
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
}

#home-view .catalog-item-thumbnail {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
}

#home-view textarea {
    min-height: 200px;
}

#home-view button[type="submit"]:hover {
    color: white !important;
}

@media (max-width: 768px) {
    #home-view .catalog-items-row.row {
        width: fit-content !important;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    #home-view .company-name {
        font-size: 1.0em;
    }

    #home-view .catalog-items-row.row {
        width: 100%;
    }
}