@page "/SignIn"
@using NATS.Components.Layout
@using NATS.Extensions
@using NATS.Models
@using NATS.Services.Dtos.RequestDtos
@using NATS.Services.Dtos.ResponseDtos
@using NATS.Services.Exceptions
@using NATS.Services.Interfaces
@using FluentValidation
@using FluentValidation.Results
@namespace NATS.Components
@inject IAuthenticationService _authenticationService
@inject IGeneralSettingsService _generalSettingsService
@inject IValidator<SignInRequestDto> _validator
@inject NavigationManager _navigationManager
@layout MainLayout
@code {
    private GeneralSettingsDetailModel _generalSettings;
    private EditContext _editContext;
    private ValidationMessageStore _validationMessageStore;
    
    #region Parameters
    [SupplyParameterFromForm]
    public SignInModel Model { get; set; } = new SignInModel();

    [SupplyParameterFromQuery]
    public string ReturnUrl { get; set; }
    #endregion

    #region LifeCycleMethods
    protected override void OnInitialized()
    {
        _editContext = new EditContext(Model);
        _validationMessageStore = new ValidationMessageStore(_editContext);
    }

    protected override async Task OnInitializedAsync()
    {
        GeneralSettingsResponseDto generalSettingsResponseDto;
        generalSettingsResponseDto = await _generalSettingsService.GetAsync();
        _generalSettings = new GeneralSettingsDetailModel(generalSettingsResponseDto);
    }
    #endregion

    #region Callbacks
    private async Task HandleSubmitAsync()
    {
        _validationMessageStore.Clear();
        try
        {
            SignInRequestDto requestDto = Model.ToRequestDto();
            ValidationResult validationResult = _validator.Validate(requestDto);
            if (!validationResult.IsValid)
            {
                _validationMessageStore.AddFromValidationErrors(
                    _editContext,
                    validationResult.Errors);
                return;
            }
            await _authenticationService.SignInAsync(requestDto);

            if (!string.IsNullOrWhiteSpace(ReturnUrl))
            {
                _navigationManager.NavigateTo(ReturnUrl);
            }
            else
            {
                _navigationManager.NavigateTo("/");
            }
        }
        catch (OperationException exception)
        {
            _validationMessageStore.AddFromServiceException(_editContext, exception);
        }
        finally
        {
            await Task.CompletedTask;
        }
    }
    #endregion
}


<div class="container-fluid p-0 bg-success flex-fill d-flex
            justify-content-center align-items-center">
    <div class="row w-100 justify-content-center align-items-center">
        <div class="col col-sm-auto col-12 p-0 m-sm-4 m-0 rounded-4 shadow
                    bg-white form-container fade-animation fade-animation-reverse">
            <!-- Header -->
            <div class="d-flex justify-content-center align-items-center p-4 pb-2">
                <div class="logo-container">
                    <img
                        src="/images/main-logo-transparent-white.png"
                        class="logo w-100 h-100"
                        alt="@_generalSettings?.ApplicationName"
                    />
                </div>
            </div>

            <!-- Form -->
            <EditForm EditContext="_editContext" OnSubmit="HandleSubmitAsync"
                   FormName="SignInForm" class="bg-white p-3 w-100">
                <!-- UserName -->
                <div class="form-group mb-3">
                    <div class="form-floating">
                        <InputText
                            type="text"
                            class="form-control"
                            placeholder=""
                            @bind-Value="Model.UserName"
                        />
                        <label htmlFor="userName">
                            Tên tài khoản
                        </label>
                    </div>

                    <ValidationMessage For="() => Model.UserName" />
                </div>

                <!-- Password -->
                <div class="form-group mb-3">
                    <div class="form-floating">
                        <InputText
                            type="password"
                            class="form-control"
                            placeholder=""
                            @bind-Value="Model.Password"
                        />
                        <label htmlFor="password">Mật khẩu</label>
                    </div>
                    <ValidationMessage For="() => Model.Password" />
                </div>

                <!-- SubmitButton -->
                <button type="submit" class="btn btn-success w-100">
                    Đăng nhập
                </button>
            </EditForm>
        </div>
    </div>
</div>